$primaryColor: #d61a66;
$whiteColor: #fff;
$blackColor: #000;
@import "setupFile";
@import "preloader";
@import "btnStyle";
@import "header";
@import "hero";
@import "sidebar";
@import "heroSearch";
@import "coronaUpdate";
@import "dashboard";
@import "categorySlider";
@import "sidebar1";
@import "blog";
@import "footer";
@import "contact";
@import "ourTeam";
@import "responsive";
@import "dashboardResponsive";
